{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "about" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<div class="row">
	<div class="col-md-3">
		<h2>AVC GROUP</h2>
		<img class="img-center" src="{% static 'images/flag2.jpg' %}" alt="flag" >
	</div>
	<div class="col-md-9">
		<p>В 2013 году небольшой командой единомышленников, была основана Компания «AVC Group». Аббревиатура AVC произошла от фразы на латинском языке «Amat Victoria Curam», что в переводе означает «ПОБЕДА ЛЮБИТ СТАРАНИЕ». Данный слоган отражает историю развития Компании, в которой, благодаря добросовестному и ответственному подходу к своему делу и выстраиванию долгосрочных партнёрских отношений, а также приверженности к постоянному развитию и освоению новых технологий, сегодня переросла в Группу Компаний, в которой работают около 800 человек.</p>
		<p>«AVC Group» специализируется на внедрении современных технологий для глубокой переработки и модернизации производственных мощностей, применении инновационных технологий и повышения качества нефтепродуктов, а также подборе оптимального технического решения по определению и учету валовых выбросов, соответствующих требованиям мировых стандартов.</p>
		<p>Компания занимает лидирующие позиции в предоставлении инженерных услуг и полного цикла реализации EPCS, а технологический потенциал обеспечивает доступ к Наилучшим Доступным Технологиям на рынке.</p>
		<p>В ходе осуществления проектов «AVC Group» ставит в приоритет жизни и здоровье работников и всех заинтересованных сторон, а также защиту окружающей среды по отношению к результатам операционной деятельности. Большинство объектов, на которых и, с которыми реализуются проекты, относятся к опасным производственным, поэтому соблюдение стандартов HSSE/HSE является одной из важнейших задач Компании.</p>
		<p>Цифровой прогресс позволил Компании не только усовершенствовать управление последовательностью работ EPCS, но и осуществить автоматизацию своих внутренних бизнес-процессов. Это естественным образом привело к улучшению контроля за сроками выполнения проекта и прозрачности управления процессами.</p>
		<p>Приверженность принципам ESG — это ключевые цели нашего времени, и «AVC Group» добивается их всех с той же решимостью, как и в осуществлении проектов, что позволяет строить современную, успешную, устойчивую ко всем изменениям Компанию.</p>
	</div>
</div>
{% endblock content %}
