{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "career" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>Поддержка талантливой молодежи</h2>
<div class="row">
	<div class="col-md-4">
		<img class="img-center" src="{% static 'images/career01.jpg' %}" alt="career" >
		<h2>Практика студентов</h2>		
	</div>
	<div class="col-md-8">
		<p>"AVC Group" уделяет особое внимание производственной практике для взращивания молодых, местных специалистов по таким специальностям как “АВТОМАТИЗАЦИЯ И УПРАВЛЕНИЕ ТЕХНОЛОГИЧЕСКИМИ ПРОЦЕССАМИ” и “ХИМИЧЕСКАЯ ИНЖЕНЕРИЯ”. Программа практики составлена таким образом, чтобы студенты и будущие специалисты, извлекли максимум пользы с правильным настроем и чтобы они понимали, что это уникальная возможность «прощупать почву», находясь при этом еще под крылом своего образовательного учреждения.</p>
		<p>Компания сотрудничает с лучшими ВУЗами РК, такими как: КБТУ, АУНИГ и APEC PETROTECHNIC.</p>
		<p>Производственная практика позволяет студентам познакомиться с будущей профессиональной деятельностью в условиях реального производства. А также, закрепить теоретические знания на практике, сориентироваться в реальном рабочем процессе и увидеть подводные камни выбранной специальности, которые не видны в теории, непосредственно контактировать с профессиональным сообществом и получить опыт взаимодействия с опытными профессионалами наставниками.</p>
		<p>Помимо этого, предоставляем возможность проходить практику в офисе компании, студентам таких специальностей как: бухгалтеры, юристы, финансисты, аналитики бизнес процессов и прочие.</p>
		<p>Компания поддерживает дуальную систему обучения, это означает, что студенты как учатся, так и работают на заводе.</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-4">
		<img class="img-center" src="{% static 'images/career02.png' %}" alt="career" >
		<p>ОПЛАЧИВАЕМАЯ ПРАКТИКА В РЕАЛЬНЫХ УСЛОВИЯХ ПРОИЗВОДСТВА</p>
	</div>
	<div class="col-md-4">
		<img class="img-center" src="{% static 'images/career03.png' %}" alt="career" >
		<p>ПРОИЗВОДСТВЕННАЯ ПРАКТИКА НА ЗАВОДАХ АНПЗ, ПНХЗ, НА СЛОЖНЫХ ТЕХНОЛОГИЧЕСКИХ УСТАНОВКАХ</p>
	</div>
	<div class="col-md-4">
		<img class="img-center" src="{% static 'images/career04.png' %}" alt="career" >
		<p>ДАЛЬНЕЙШЕЕ ТРУДОУСТРОЙСТВО ВНУТРИ КОМПАНИИ</p>
	</div>
</div>
<hr>
<div class="div-width-100-text-center">
	<h3>Особенности корпоративной культуры</h3>
</div>
<div class="row" style="background-image: url({% static 'images/career05.png' %}); background-position: center; background-repeat: no-repeat;height: 700px; ">
	<div class="col-md-4" >
		<ul style=" line-height: 30px; margin-top: 450px; opacity: 0.8; background-color: Gainsboro">
			<li>Привлечение в компанию на работу "лучших из лучших" и обеспечение эффективного использования их возможностей и потенциала</li>
			<li>Эффективная система вознаграждения</li>
			<li>Обучение и развитие, планирование кадрового потенциала</li>			
		</ul>

	</div>
	<div class="col-md-4">
	</div>
	<div class="col-md-4">
		<ul style=" line-height: 30px; margin-top: 450px; opacity: 0.8; background-color: Gainsboro">
			<li>Повышение результативности работы на всех уровнях</li>
			<li>Высокий корпоративный дух работников компании и постоянная работа по его укреплению</li>
			<li">Формирование и поддержание позитивного имиджа и корпоративного стиля компании</li>
		</ul>
	</div>
</div>

{% endblock content %}