{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "partners" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "partners" %}</h2>
<div class="row" style="background-color: white; padding:30px">
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners01.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners02.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners03.jpg' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners04.jpg' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners05.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners06.png' %}" alt="partners" >
	</div>
</div>
<div class="row" style="background-color: white; padding:30px">
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners07.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners08.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners09.jpg' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners10.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners11.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners12.png' %}" alt="partners" >
	</div>
</div>
<div class="row" style="background-color: white; padding:30px">
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners13.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners14.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners15.jpg' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners16.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners17.jpg' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners18.png' %}" alt="partners" >
	</div>
</div>
<div class="row" style="background-color: white; padding:30px">
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners19.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners20.jpg' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners21.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners22.jpg' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners23.png' %}" alt="partners" >
	</div>
	<div class="col-md-2">
		<img class="img-center2" src="{% static 'images/partners24.png' %}" alt="partners" >
	</div>
</div>

{% endblock content %}
