{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "projects" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "projects" %}</h2>
<div class="projects" style="background-image: url({% static 'images/projects01.jpg' %})">
	<div class="row">
	<h1>2021 <br>Атырауский нефтеперерабатывающий завод</h1>
	<br>
	<table class="table-projects">
		<thead>
			<tr>
				<th><p>Наименование выполненных работ:</p></th>
				<th><p>Результат, который получил заказчик:</p></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p>Строительство трубопровода пара высокого давления от ТЭЦ на УКК. ПКЧИ парового риформинга.</p></td>
				<td><p>Надежное обеспечение паром ПГПН.</p></td>
			</tr>
			<tr>
				<td><p>Внедрение системы вибрационного контроля динамического оборудования.</p></td>
				<td><p>Снижение затрат на ремонты используя методы превентивной аналитики.</p></td>
			</tr>
			<tr>
				<td><p>Замена пластинчатого теплообменника «Packinox» на комплексе производства ароматических углеводородов.</p></td>
				<td><p>Увеличение выпуска параксилола за счёт непрерывной работы установки.</p></td>
			</tr>
			<tr>
				<td><p>Проведение текущего ремонта на установке производства водорода.</p></td>
				<td><p>Доведение до соответствия оборудования установки, а именно, печи риформинга и рекуператора.</p></td>
			</tr>
		</tbody>		
	</table>
	</div>
</div>
<div class="projects" style="background-image: url({% static 'images/projects02.jpg' %})">
	<div class="row">
	<h1>2021<br> ТОО «Павлодарский нефтехимический завод»</h1>
	<br>
	<table class="table-projects">
		<thead>
			<tr>
				<th><p>Наименование выполненных работ:</p></th>
				<th><p>Результат, который получил заказчик:</p></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p>Внедрение системы вибрационного контроля динамического оборудования.</p></td>
				<td><p>Снижение затрат на ремонты используя методы превентивной аналитики.</p></td>
			</tr>
			<tr>
				<td><p>Текущий ремонт завода (8 из 17 установок): Работы по ревизии и ремонту технологического оборудования и запорной арматуры; ревизия и ремонт трубопровода; ревизия и ремонт печей на установках УЗК, УПБ, ПППН; ремонт сферических емкостей; ревизия шиберных задвижек производства глубокой переработки нефти с привлечением специалистов компании Remosa; монтаж нового оборудования.	</p></td>
				<td><p>Бесперебойная работа технологических установок. Исключена возможность работы оборудования в условиях прогрессирующего износа.</p></td>
			</tr>
		</tbody>		
	</table>	
	</div>
</div>
<div class="projects" style="background-image: url({% static 'images/projects03.jpg' %})">
	<div class="row">
	<h1>2020<br> АО «Каспий Нефть»</h1>
	<br>
	<table class="table-projects">
		<thead>
			<tr>
				<th><p>Наименование выполненных работ:</p></th>
				<th><p>Результат, который получил заказчик:</p></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<p>Разработка Комплексной Информационной Системы Цифрового Месторождения «Айранколь».</p>
					<p>Автоматизация производственных процессов, со сбором максимального числа параметров работы технологического оборудования, для последующего применения всего объема собранной информации в специализированных системах (программных продуктов) Управления Производственными Процессами (Manufacturing Execution Systems), системах Планирования ресурсов предприятия (ERP) и Оптимизационного планирования (Advanced Planning and Scheduling).</p>
				</td>
				<td>
					<ul>
						<li>Увеличение добычи нефти на 10%;</li>
						<li>Снижение аварийных остановок и повышение надежности технологического оборудования;</li>
						<li>Снижение простоя оборудования;</li>
						<li>Снижение влияния человеческого фактора на производственные процессы;</li>
						<li>Снижение операционных затрат;</li>
						<li>Снижены операционные и капитальные затраты на сбор, хранение информации и обеспечение дальнейшей эффективной работы с имеющейся информацией из одного источника, без необходимости ее дублирования;</li>
						<li>Снижены операционные затраты за счет сокращения сроков верификации данных, формирования итоговой отчетности, как по отдельным участкам производства, так и по всему производственному объекту;</li>
						<li>Процесс производства, технологический полностью контролируемый из дистанционных пунктов в автоматическом режиме.</li>
					</ul>
				</td>
			</tr>
		</tbody>		
	</table>
	</div>
</div>
<div class="projects" style="background-image: url({% static 'images/projects04.jpg' %})">
	<div class="row">
	<h1>2020<br> ТОО «Атырауский нефтеперерабатывающий завод»</h1>
	<br>
	<table class="table-projects">
		<thead>
			<tr>
				<th><p>Наименование выполненных работ:</p></th>
				<th><p>Результат, который получил заказчик:</p></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p>Установка ЭЛОУ АВТ-3. Проведены работы по полной замене 2-х и частичной замене оставшихся 2-х тарелок насадочного типа, нижнего фильтрующего элемента вакуумной колонны К-5. Заменены устройства ввода сырья и межтарельчатые переливные раструбы Работа по замене насадок (внутренние устройства) вакуумной колонны К-5.</p></td>
				<td><p>Бесперебойное получение гудрона и керосино-газойлевой фракций из мазута.</p></td>
			</tr>
			<tr>
				<td><p>Установка каталитического крекинга R2R. Котел-утилизатор дымовых газов М-0154. Из 9 секции котла-утилизатора подверглись полной замене 3 секции, то есть замена 30% оборудования.</p></td>
				<td><p>Бесперебойная работа котла-утилизатора для утилизации дымовых газов реакторно-регенераторного блока с выработкой пара 1,5 МРа и 4,0 МРа. В дальнейшем утилизированные дымовые газа через блок BELCO сбрасываются в атмосферу.</p></td>
			</tr>
			<tr>
				<td><p>Шиберные задвижки SLV-0101, SLV-0102. Была полностью заменена в комплекте с гидросистемой и приводом шиберная задвижка позиции SLV-0102, на SLV-0101 заменены внутренние устройства, шкаф управления гидросистемой, привод, крышка задвижки.</p></td>
				<td><p>Шиберные задвижки установлены на линиях регенерированного и насыщенного катализаторопровода реакторно-регенераторного блока установки. В результате замены обеспечена бесперебойная работа регулирования уровня и скорости катализатора в регенераторе.</p></td>
			</tr>
		</tbody>		
	</table>
	</div>
</div>
<div class="projects" style="background-image: url({% static 'images/projects05.jpg' %})">
	<div class="row">
	<h1>2019<br> ТОО "ПетроКазахстан Ойл Продактс" - Шымкентский НПЗ</h1>
	<br>
	<table class="table-projects">
		<thead>
			<tr>
				<th><p>Наименование выполненных работ:</p></th>
				<th><p>Результат, который получил заказчик:</p></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p>Разработка и внедрение первой и единственной в Республики Казахстан автоматизированной системы впрыска присадок и фильтрации по стандарту IATA.</p></td>
				<td><p>Данная система позволила выпускать авиакеросин марки Jet A-1 Fuel.</p></td>
			</tr>
		</tbody>		
	</table>
	</div>
</div>
<div class="projects" style="background-image: url({% static 'images/projects06.jpg' %})">
	<div class="row">
	<h1>2019<br>ТОО «Павлодарский нефтехимический завод»</h1>
	<br>
	<table class="table-projects">
		<thead>
			<tr>
				<th><p>Наименование выполненных работ:</p></th>
				<th><p>Результат, который получил заказчик:</p></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><p>Проект по производству анализаторного дома, монтажу, шеф-монтажу и пусконаладочным работам двух систем промышленной газовой хроматографии на базе хроматографов SIEMENS Maxum Edition II.</p></td>
				<td><p>Установленные системы газовой хроматографии позволяют заводу ПНХЗ вести технологический контроль за режимами работы установки КТ и контролировать качество продаваемого сырья.</p></td>
			</tr>
			<tr>
				<td><p>Установленная нашей компанией система промышленного анализа реализована для технологической установки Павлодарского НПЗ, которая называется КТ. Технологическая функция установки КТ заключается в допереработке тяжелых, бензиновых фракций, остающихся после удаления легкого реформата.</p></td>
				<td><p>На территории Казахстана данный проект является уникальным решением такого масштаба, реализованным когда-либо “под ключ” местной компанией.</p></td>
			</tr>
		</tbody>		
	</table>
	</div>
</div>
{% endblock content %}