{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "social" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "social" %}</h2>
<div class="social" style="background-image: url({% static 'images/social01.jpg' %})">
	<h2>СОЦИАЛЬНАЯ ОТВЕТСТВЕННОСТЬ</h2>
	<p>Наше стремление к совершенству в социальной ответственности определяет нашу деловую активность и взаимодействие с людьми. Мы стремимся внести реальный вклад в улучшение жизни нашего сообщества.</p>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>СПОНСОРСКАЯ ПОМОЩЬ ФОНДУ РАЗВИТИЯ ШАХМАТ</h2>
		<p>Спонсорская поддержка для организации Первого Международного Фестиваля по шахматам «Atyrau Chess Festival 2022» в г. Атырау.</p>
		<p>Цель фестиваля: популяризация шахмат в Атырауской области и Казахстане, раскрытие и реализация интеллектуального потенциала молодежи и детей.</p>
	</div>
	<div class="col-md-6">
		<img class="img-center" src="{% static 'images/social02.jpg' %}" alt="social">
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<img class="img-center" src="{% static 'images/social03.jpg' %}" alt="social">		
	</div>
	<div class="col-md-6">
		<h2>БЛАГОТВОРИТЕЛЬНАЯ ПОМОЩЬ МАЛОИМУЩИМ СЕМЬЯМ</h2>
		<p>На регулярной основе AVC Group осуществляет помощь через фонд «АТАДАН МИРАС».</p>
		<p>Фонд был основан 2012 году и является благотворительной организацией, помогающей нуждающимся семьям Мангыстауской области.</p>
		<p>Цели фонда:</p>
		<ul>
			<li>вклад в формирование сознательного и здорового образа жизни общества, особенно молодежи</li>
			<li>реализация социально значимых проектов</li>
			<li>организация и проведение мероприятий направленных на благотворительность</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>СПОНСОРСТВО СПОРТИВНЫХ ФЕДЕРАЦИЙ БОКСА В АТЫРАУ И ПАВЛОДАРЕ</h2>
		<p>Осуществление спонсорской поддержки федераций бокса для закупа спортивного инвентаря и участия в международных соревнованиях.</p>
	</div>
	<div class="col-md-6">
		<img class="img-center" src="{% static 'images/social04.jpg' %}" alt="social">
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<img class="img-center" src="{% static 'images/social05.jpg' %}" alt="social">		
	</div>
	<div class="col-md-6">
		<h2>БЛАГОТВОРИТЕЛЬНАЯ ПОМОЩЬ ФОНДУ "BIRGEMIZ-ATYRAU"</h2>
		<p>Общественный Фонд «BIRGEMIZ» был создан 20 марта 2020 года по инициативе Первого Президента страны Нурсултана Назарбаева в целях поддержки социально уязвимых групп населения в условиях пандемии COVID-19.</p>
		<p>AVC Group принимала участие в поддержке медицинских работников и закупке необходимого медицинского оборудования.</p>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<h2>СПОНСОРСКАЯ ПОМОЩЬ ОЮЛ "КАЗАХСТАНСКАЯ АССОЦИАЦИЯ РЕГИОНАЛЬНЫХ ЭКОЛОГИЧЕСКИХ ИНИЦИАТИВ"</h2>
		<p>Спонсорская помощь в организации Международного Конгресса ECOJER.</p>
		<p>Цель конгресса: разработка предложений и рекомендаций для Правительства РК по вопросам экологии и устойчивого развития; популяризация инициатив промышленных предприятий в вопросах устойчивого развития.</p>
	</div>
	<div class="col-md-6">
		<img class="img-center" src="{% static 'images/social06.jpg' %}" alt="social">
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<img class="img-center" src="{% static 'images/social07.jpg' %}" alt="social">		
	</div>
	<div class="col-md-6">
		<h2>СПОНСОРСКАЯ ПОМОЩЬ ОСИ «ДОМ ПНХЗ»</h2>
		<p>Оказание спонсорской помощи для поддержки детей сотрудников ПНХЗ, в рамках которой была произведена реконструкция детской площадки и футбольного поля.</p>
	</div>
</div>
{% endblock content %}