{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "video" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "video" %}</h2>
<div class="row" style="margin-bottom: 100px">
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/Lhjg1uILKRI"></iframe>	
		<p>Разработка Комплексной Информационной Системы Цифрового Месторождения «Айранколь» (АО «Каспий Нефть 2021)</p>
	</div>
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/hE2NoDVccKo"></iframe>	
		<p>Применение AVC Lens при ремонте оборудования (АНПЗ, 2020).</p>
	</div>
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/xjzTBnrrL9A"></iframe>	
		<p>Применение автоматических систем мониторинга и анализа компонентного состава дымовых газов в нефтяной отрасли</p>
	</div>
</div>
<div class="row" style="margin-bottom: 100px">
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/XGRna3lN3jg"></iframe>	
		<p>Замена пластинчатого теплообменника «Packinox» на комплексе производства ароматических углеводородов (АНПЗ, 2021)</p>
	</div>
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/jOuNfXeG3ug"></iframe>	
		<p>Производственная практика студентов КБТУ (АНПЗ, 2021).</p>
	</div>
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/GNwLJ9oXxk8"></iframe>	
		<p>Проведение текущего ремонта на установке производства водорода (Air liquide, 2021)</p>
	</div>
</div>
<div class="row" style="margin-bottom: 100px">
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/U9vfEya0yjU"></iframe>	
		<p>Герметизация насоса на блоке BELCO без останова технологического процесса (АНПЗ, 2021)</p>
	</div>
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/ibqrDnr4JJY"></iframe>	
		<p>Текущий ремонт (ПНХЗ, 2021)</p>
	</div>
	<div class="col-md-4">
		<iframe width="100%" height="100%" src="https://www.youtube.com/embed/JmF3b8sctrU"></iframe>	
		<p>Ремонт технологических установок Павлодарского Нефтехимического Завода. Июль 2022г.</p>
	</div>
</div>

{% endblock content %}
