{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="div-width-100-text-center">
	<h3>{% trans "FAQ" %}</h3>
</div>
<br>
{% if LANGUAGE_CODE == 'kk' %}
	<div id="accordion">
		<div class="card" style="width:100%">
			<div class="card-header" id="heading1">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
					1. Қандай пәндерден дайындайсыздар?
					</button>
				</h5>
			</div>
			<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
				<div class="card-body" >							
					<p>Біз 4 пән бойынша оқытамыз:</p>
					<p>Ол пәндер:</p>
					<ul>
						<li>Қазақстан тарихы</li>
						<li>Математикалық сауаттылық</li>
						<li>Таңдау пәні</li>
						<li>Бейіндік пән</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="card" style="width:100%">
			<div class="card-header" id="heading2">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
					2. Сабақтар қай уақытта өткізіледі?
					</button>
				</h5>
			</div>
			<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Сабақтардың болу уақыты<br>
					Аптасына 3 рет.<br> 
					Пн-ср-пт немесе вт-чт-сб.<br> 
					Сабақ 15:00-19:20 аралығында өтеді.<br> 
					Күніне 3 парадан.<br> 
					Аптасына 7 пара. 1 параның ұзақтығы 80 минут.</p>
				</div>
			</div>
		</div>		
		<div class="card" style="width:100%">
			<div class="card-header" id="heading3">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
					3. Сіздерде жеңілдіктер қарастырылған ба?
					</button>
				</h5>
			</div>
			<div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Біздің оқу орталықта жеңілдіктер, жағдайға байланысты сәйкесінше құжаттарды көрсетілгенде ғана жүзеге асырылады. Жеңілдікпен тіркелген оқушылардың барлығы бірінші айда толық көлемде оқу ақысын жасайды. Ал екінші айдан бастап жеңілдікпен төлейді</p>
					<ul>
						<li>Көп балалы отбасылар үшін – 10 % жеңілдік</li> 
						<li>Жалғыз басты ата-аналар үшін – 10 % жеңілдік</li> 
						<li>Бір отбасыдан екі оқушы – 10 % жеңілдік әр оқушыға</li> 
						<li>Отбасыда 1-2 топтағы мүгедек болған жағдайда – 10 % жеңілдік</li>
					</ul>
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading4">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
					4. Результат болатынына гарантия бере аласыз ба?
					</button>
				</h5>
			</div>
			<div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Иә, бізде ГРАНТҚА ГАРАНТИЯ бар</p>							
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading5">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
					5.	Оқу ақысы жайлы:
					</button>
				</h5>
			</div>
			<div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Егерде оқушы сабаққа келмеген күндері үшін анықтама немесе сабақтан босататын құжат алып келген жағдайда ғана сабаққа келмеген күндерінің оқу ақысы қайтарылады немесе келесі айдың оқу ақысына қосылады!<br>
					Егер ауа-райына байланысты немесе біздің оқу орталықтағы кейбір жағдайларға байланысты сабақтар болмаса, ол сабақтар басқа күнге ауыстырылып, оқушы мен ата-анаға алдын ала ескертіледі!<br>
					Күнтізбедегі қызыл күндер үшін болған демалыстарға оқу ақысы кері қайтарылмайды(1 желтоқсан, 16 желтоқсан).
					</p>							
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading6">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
					6. Оқыту материалдарын сатып алу керек пе?
					</button>
				</h5>
			</div>
			<div id="collapse6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Біз негізінен, тек қана мектеп оқулықтарымен оқытамыз.Бізде жұмыс жасап жатқан мұғалімдердің өз оқыту базасы қалыптасқан. Соған байланысты, барлық оқыту материалы оқушыларға орталықтан беріледі. Сіздерден тек қана қалам, өзіне ыңғайлы дәптер(блокнот) және оқуға деген ынта мен назар</p>							
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading7">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
					7.	Куратор не үшін қажет?
					</button>
				</h5>
			</div>
			<div id="collapse7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Оқушы топқа кірер кезде, біз топқа куратор тағайындаймыз. Не үшін?</p>
					<ul>
						<li>Оқушы динамикасына қарап отыруы үшін</li>
						<li>Үй жұмыстарына көмектесуі үшін</li>
						<li>Оқушының түсінбеген тақырыптарымен жұмыс жасауы үшін</li>
						<li>Және де тәрбиеші ретінде қарап отыруы үшін</li>
					</ul>
					<p>Барлығы куратордың назарында болады. Және осының барлығы кураторлық жұмыста жасалады. Сондықтан ата-ананың қандай да бір сұрағы болса, куратор барлық мәліметті бере алады. Және де, өзіміз оқушы жайлы толық ақпарат біліп отыруымыз үшін, куратор(тәрбиеші) қоямыз</p>
				</div>
			</div>
		</div>									
	</div>				
{% else %}
	<div id="accordion">
		<div class="card" style="width:100%">
			<div class="card-header" id="heading1">
				<h5 class="mb-0">
					<button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
					Обязательно ли сдавать январское ЕНТ?
					</button>
				</h5>
			</div>
			<div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordion">
				<div class="card-body" >							
					<p>Нет, не обязательно. ЕНТ в январе сдаётся по желанию. Сертификат январского ЕНТ действует для поступления на платное отделение в университеты нашей страны.</p>
				</div>
			</div>
		</div>
		<div class="card" style="width:100%">
			<div class="card-header" id="heading2">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
					Важно ли, в каком порядке будут проходить профильные предметы ЕНТ (например, биология и химия или химия и биология)?
					</button>
				</h5>
			</div>
			<div id="collapse2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Нет, это не имеет значения.</p>
				</div>
			</div>
		</div>		
		<div class="card" style="width:100%">
			<div class="card-header" id="heading3">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
					Если я поступил на платное отделение, как я могу попытаться перевестись на грант?
					</button>
				</h5>
			</div>
			<div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Ежегодно в каждом университете, принимающем студентов на государственный грант, проводится конкурс освободившихся государственных грантов. Чтобы претендовать на грант, необходимо отлично учиться.</p>
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading4">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
					Что такое сельская квота?
					</button>
				</h5>
			</div>
			<div id="collapse4" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Сельская квота – это отдельное количество государственных грантов для выпускников сельских школ.</p>							
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading5">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
					Если проходишь ЕНТ на творческую специальность, как поступить на грант?
					</button>
				</h5>
			</div>
			<div id="collapse5" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Творческие экзамены в университетах проводятся до конкурса государственных грантов. После прохождения творческих экзаменов вы с перечнем документов и результатом творческих экзаменов подаете заявление на участие в конкурсе государственных грантов.</p>							
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading6">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
					Где можно подать документы на конкурс государственных грантов?
					</button>
				</h5>
			</div>
			<div id="collapse6" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Подать документы можно в любом университете своего города, указав в заявлении вузы, в которые вы хотите поступить.</p>							
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading7">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
					Какая должна быть подготовка у абитуриента при поступлении на IT-направления?
					</button>
				</h5>
			</div>
			<div id="collapse7" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Университеты не требуют, чтобы у абитуриента были навыки программирования до поступления. Все знания вы получите с нуля на первом курсе. У всех образовательных программ на первом курсе есть дисциплина «Информационно-коммуникационные технологии», которая вам поможет в развитии ваших навыков работы с компьютерными программами.</p>
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading8">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
					По каким профильным предметам большая конкуренция на конкурсе государственных грантов?
					</button>
				</h5>
			</div>
			<div id="collapse8" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Большая конкуренция по экономическим, юридическим и гуманитарным направлениям, так как по их комбинациям профильным предметам выделяется меньшее количество государственных грантов.</p>				
				</div>
			</div>
		</div>				
		<div class="card" style="width:100%">
			<div class="card-header" id="heading9">
				<h5 class="mb-0">
					<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
					Расскажите о студенческой академической мобильности, как можно получить грант в вузе на обучение за рубежом?
					</button>
				</h5>
			</div>
			<div id="collapse9" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<p>Академическая мобильность – это программа обучения по обмену для студентов 2–3 курса. Для того, чтобы претендовать на обучение по обмену, необходимо соответствовать следующим требованиям: IELTS 6.0 и выше GPA 3.0 и выше Написать мотивационное письмо, почему именно вы достойны пройти программу академической мобильности. Взять два рекомендационных письма у преподавателей. Обучение по обмену длится 1 семестр (4–5 месяцев). Вы учитесь в зарубежном вузе, затем возвращаетесь и продолжаете обучение в своем казахстанском вузе.</p>							
				</div>
			</div>
		</div>				
	</div>
				
{% endif %}		
{% endblock content %}